# <center>Chapter 4</center>
## <center>Python - OOP</center>

### Example 4.1

In [1]:
>>> isinstance(int, object)

True

In [2]:
>>> issubclass(bool, int)

True

In [3]:
>>> int.__bases__

(object,)

In [4]:
>>> isinstance(int, object)

True

### Example 4.2

In [5]:
>>> bool.__mro__

(bool, int, object)

### Example 4.3

In [6]:
>>> type(bool)

type

In [7]:
>>> type.__bases__

(object,)

In [8]:
>>> isinstance(type, object)

True

In [9]:
>>> issubclass(type, object)

True

### Example 4.4

In [10]:
>>> #function from a module
...
>>> import math
>>> type(math.sqrt)

builtin_function_or_method

In [11]:
>>> #built-in function
...
>>> type(id)

builtin_function_or_method

In [12]:
>>> #user defined function
...
>>> def hello():
...     print ('Hello World')
...
>>> type(hello)

function

In [13]:
>>> #module is also an object
...
>>> type(math)

module

### Example 4.5

In [14]:
>>> #range is also an object
...
>>> obj=range(10)
>>> type(obj)

range

In [15]:
>>> range.__bases__

(object,)

### Example 4.6

In [16]:
>>> #user defined class
...
>>> class MyClass:
...     pass
...
>>> type(MyClass)

type

In [17]:
>>> MyClass.__bases__

(object,)

In [18]:
>>> issubclass(MyClass, object)

True

### Example 4.7

In [19]:
>>> class MyClass(object):
...     pass
...
>>> MyClass.__bases__

(object,)

### Example 4.8

In [20]:
>>> obj1=MyClass()
>>> obj2=MyClass()
>>> obj1.myname='Ashok'
>>> setattr(obj1, 'myage',21)

### Example 4.9

In [21]:
>>> def aboutme(obj):
...     print ('My name is {} and I am {} years old'.format(obj.myname,obj.myage))
...
>>> setattr(MyClass, 'about', aboutme)
>>> obj1.about()

My name is Ashok and I am 21 years old

In [22]:
obj1.myname

'Ashok'

### Example 4.11

In [23]:
>>> from myclass1 import MyClass
>>> obj1=MyClass()
>>> obj1.myname

'Ashok'

In [24]:
>>> obj1.myage

21

In [25]:
>>> obj1.about()

My name is Ashok and I am 21 years old

### Example 4.13

In [26]:
>>> from myclass2 import MyClass
>>> obj1=MyClass('Ashok', 21)
>>> obj2=MyClass('Asmita',20)
>>> obj1.about()

My name is Ashok and I am 21 years old

In [27]:
>>> obj2.about()

My name is Asmita and I am 20 years old

### Example 4.14

In [28]:
>>> setattr(obj1,'marks',50)
>>> obj1.marks

50

### Example 4.16

In [29]:
>>> from myclass3 import MyClass
>>> obj1=MyClass('Ashok', 21)
>>> obj1.about()

My name is Ashok and I am 21 years old

In [30]:
>>> setattr(obj1, 'marks', 50) #new attribute not allowed

AttributeError: 'MyClass' object has no attribute 'marks'

In [31]:
>>> setattr(obj1, 'myage', 25) #value of existing module can be modified
>>> obj1.about()

My name is Ashok and I am 25 years old

### Example 4.18

In [32]:
>>> from myclass4 import MyClass
>>> obj1=MyClass('Ashok',21)
>>> obj1.getage()

21

In [33]:
>>> obj1.setname('Amar')
>>> obj1.about()

My name is Amar and I am 21 years old

### Example 4.19

In [34]:
>>> obj1.myname

'Amar'

In [35]:
>>> getattr(obj1,'myage')

21

In [36]:
>>> obj1.myage=25
>>> setattr(obj1,'myname', 'Ashok')
>>> obj1.about()

My name is Ashok and I am 25 years old

### Example 4.20

In [37]:
>>> #private variable in class
...
>>> class tester:
...     def __init__(self):
...             self.__var=10
>>> t=tester()
>>> t.__var

AttributeError: 'tester' object has no attribute '__var'

### Example 4.22

In [38]:
>>> from myclass5 import MyClass
>>> obj1=MyClass('Ashok', 21)
>>> obj1.about() #initial values of object's attributes

My name is Ashok and I am 21 years old

In [39]:
>>> #change age property
>>> obj1.age=30

age setter method

In [40]:
>>> #access name property
>>> obj1.name

name getter method

'Ashok'

In [41]:
>>> obj1.about() #object's attributes after property changes

My name is Ashok and I am 30 years old

### Example 4.27

In [42]:
>>> from myclass6 import MyClass
>>> obj1=MyClass('Ashok', 21)
>>> obj1.about() #initial values of object's attributes

My name is Ashok and I am 21 years old

In [43]:
>>> #change age property
>>> obj1.age=30

age setter method

In [44]:
>>> #access name property
>>> obj1.name

name getter method

'Ashok'

In [45]:
>>> obj1.about()

My name is Ashok and I am 30 years old

### Example 4.29

In [46]:
>>> from classattr import player
>>> p1=player('Virat', 60)

Total runs so far: 60

In [47]:
>>> p2=player('Rahul', 45)

Total runs so far: 105

### Example 4.30

In [48]:
>>> from classattr2 import player
>>> p1=player('Virat',60)

Total runs so far: 60

In [49]:
>>> p2=player('Rahul',45)

Total runs so far: 105

In [50]:
>>> player.printtotal()

Total runs so far: 105

In [51]:
>>> player.displaytotal()

Total runs so far: 105

### Example 4.32

In [52]:
>>> from inheritEllipse import ellipse
>>> e1=ellipse(20,30)
>>> e1.area()

1884.9555921538758

In [53]:
>>> e1.perimeter()

160.19042244414092

In [54]:
>>> e1=ellipse(20,20)
>>> e1.area()

1256.6370614359173

In [55]:
>>> e1.perimeter()

125.66370614359172

### Example 4.34

In [56]:
>>> from inheritEllipse import ellipse, circle
>>> c1=circle(20)
>>> c1.area()

1256.6370614359173

In [57]:
>>> c1.perimeter()

125.66370614359172

### Example 4.36

In [58]:
>>> dir(object)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

### Example 4.37

In [59]:
>>> a=123
>>> a.__str__()

'123'

### Example 4.38

In [60]:
>>> a=123
>>> str(a)

'123'

### Example 4.39

In [61]:
>>> class MyClass:
	pass

>>> obj1=MyClass()
>>> setattr(obj1,'myname','Madhav')
>>> #using __setattr__() method
>>> obj1.__setattr__('myage',21)

### Example 4.40

In [62]:
>>> a.__dir__()

['__repr__',
 '__hash__',
 '__str__',
 '__getattribute__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__add__',
 '__radd__',
 '__sub__',
 '__rsub__',
 '__mul__',
 '__rmul__',
 '__mod__',
 '__rmod__',
 '__divmod__',
 '__rdivmod__',
 '__pow__',
 '__rpow__',
 '__neg__',
 '__pos__',
 '__abs__',
 '__bool__',
 '__invert__',
 '__lshift__',
 '__rlshift__',
 '__rshift__',
 '__rrshift__',
 '__and__',
 '__rand__',
 '__xor__',
 '__rxor__',
 '__or__',
 '__ror__',
 '__int__',
 '__float__',
 '__floordiv__',
 '__rfloordiv__',
 '__truediv__',
 '__rtruediv__',
 '__index__',
 '__new__',
 'conjugate',
 'bit_length',
 'to_bytes',
 'from_bytes',
 '__trunc__',
 '__floor__',
 '__ceil__',
 '__round__',
 '__getnewargs__',
 '__format__',
 '__sizeof__',
 'real',
 'imag',
 'numerator',
 'denominator',
 '__doc__',
 '__setattr__',
 '__delattr__',
 '__init__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__dir__',
 '__class__']

### Example 4.41

In [63]:
>>> a=20
>>> b=10
>>> a+b

30

In [64]:
>>> a.__add__(b)

30

In [65]:
>>> a.__mul__(b)

200

In [66]:
>>> a*b

200

In [67]:
>>> a>b

True

In [68]:
>>> a.__le__(b)

False

### Example 4.43

In [69]:
>>> from timerclass import timer
>>> t1=timer(2,45)
>>> t2=timer(3,30)
>>> t3=t1+t2
>>> print (t3)

6 Hrs. 15 mins.

In [70]:
>>> t3=t1.__add__(t2)
>>> print (t3)

6 Hrs. 15 mins.