# <center>Chapter 1</center>
## <center>Getting Started</center>

### Example 1.1

In [1]:
>>> 5-6/2*3

-4.0

In [2]:
>>> (5-6/2)*3

6.0

### Example 1.2

In [3]:
>>> length=20
>>> breadth=30
>>> area=length*breadth
>>> area

600

### Example 1.3

#area.py

length=20

breadth=30

area=length*breadth

print ('area=',area)

C:\Users\acer>python area.py

area= 600

### Example 1.4

In [4]:
>>> import keyword
>>> print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Example 1.5

In [5]:
>>> "Hello World"

'Hello World'

In [6]:
>>> Hello world

SyntaxError: invalid syntax (<ipython-input-6-33ab5639bfd8>, line 1)

### Example 1.6

In [ ]:
>>> zen="Beautiful is better than ugly. \
... Explicit is better than implicit. \
... Simple is better than complex."
>>> zen

### Example 1.7

In [ ]:
>>> a=10
>>> b=5
>>> ratio=(pow(a,2)+(pow(b,2)))/ \
...        (pow(a,2)-(pow(b,2)))
>>> ratio

### Example 1.8

In [ ]:
>>> marks=[34,65,92,55,71,
... 21,82,39,60,41]
>>> marks

### Example 1.9

In [ ]:
>>> def calculate_tax(sal):
...     tax=sal*10/100
...     if tax>5000:
...             tax=5000
...     netsal=sal-tax
...     return netsal

### Example 1.10

In [ ]:
>>> class Example:
...     def __init__(self, x):
...             self.x=x
...             if x>100:
...                     self.x=100

### Example 1.11

In [ ]:
>>> for i in range(4):
...     for j in range(4):
...             k=i+j

### Example 1.12

In [ ]:
>>> #this line is a comment
... print ("Hello world!")

In [ ]:
>>> print ("hello world again!") #this also a comment

### Example 1.13

In [ ]:
>>> #this is an integer
... 100

In [7]:
>>> type(100)

int

In [8]:
#this is a float
... 5.65

5.65

In [9]:
>>> type(5.65)

float

In [10]:
>>> #this is bool object
... True
>>> type(True)

bool

### Example 1.14

In [11]:
>>> #this is float with scientific notation
... 1.5e-3

0.0015

In [12]:
>>> type(1.5e-3)

float

### Example 1.15

In [13]:
>>> 2+3j

(2+3j)

In [14]:
>>> type(2+3j)

complex

### Example 1.16

In [15]:
>>> #addition operator
... 10+3

13

In [16]:
>>> #subtraction operator
... 10-3

7

In [17]:
>>> #division operator
... 10/3

3.3333333333333335

In [18]:
>>> #modulus operator
... 10%3

1

In [19]:
>>> #exponent operator
... 10**3

1000

In [20]:
>>> #floor division operator
... 10//3

3

### Example 1.17

In [21]:
>>> #string using single quotes
... 'Hello. How are you?'

'Hello. How are you?'

In [22]:
>>> #string using double quotes
... "Hello. How are you?"

'Hello. How are you?'

In [23]:
>>> #string using triple quotes
... '''Hello. How are you?'''

'Hello. How are you?'

### Example 1.18

In [24]:
>>> ['pen', 15, 25.50, True]

['pen', 15, 25.5, True]

In [25]:
type(['pen', 15, 25.50, True])

list

In [26]:
>>> ('Python', 3.72, 'Windows',10, 2.5E04)

('Python', 3.72, 'Windows', 10, 25000.0)

In [27]:
>>> type(('Python', 3.72, 'Windows',10, 2.5E04))

tuple

### Example 1.19

In [28]:
>>> {1:'one', 2:'two', 3:'three'}

{1: 'one', 2: 'two', 3: 'three'}

In [29]:
>>> type({1:'one', 2:'two', 3:'three'})

dict

In [30]:
>>> {'Mumbai':'Maharashtra', 'Hyderabad':'Telangana', 'Patna':'Bihar'}

{'Mumbai': 'Maharashtra', 'Hyderabad': 'Telangana', 'Patna': 'Bihar'}

In [31]:
type({'Mumbai':'Maharashtra', 'Hyderabad':'Telangana', 'Patna':'Bihar'})

dict

In [32]:
>>> {'Windows':['Windows XP', 'Windows 10'], 'Languages':['Python', 'Java']}

{'Windows': ['Windows XP', 'Windows 10'], 'Languages': ['Python', 'Java']}

In [33]:
type ( {'Windows':['Windows XP', 'Windows 10'], 'Languages':['Python', 'Java']})

dict

### Example 1.20

In [34]:
>>> id(10)

94745736371168

In [35]:
>>> id('Hello')

140592607607248

In [36]:
>>> id([10,20,30])

140592607760264

### Example 1.21

In [37]:
>>> id(5)

94745736371008

In [38]:
>>> radius=5
>>> id(radius)

94745736371008

### Example 1.22

In [39]:
>>> diameter=radius*2
>>> diameter

10

In [40]:
>>> area=3.142*radius*radius
>>> area

78.55

In [41]:
>>> circumference=2*3.142*radius
>>> circumference

31.419999999999998

### Example 1.23
String somevar;

somevar="some string value";

somevar=999;
#### Java Compiler error:
Error: incompatible types: int cannot be converted to java.lang.String

### Example 1.24

In [42]:
>>> somevar='some string value'
>>> id(somevar)

140592607142440

In [43]:
>>> type(somevar)

str

### Example 1.25

In [44]:
>>> somevar=999
>>> id(somevar)

140592607820624

In [45]:
>>> type(somevar)

int

### Example 1.26

In [46]:
>>> #concatenation of strings
...
>>> str1='Hello World.'
>>> str2='Hello Python.'
>>> str1+str2

'Hello World.Hello Python.'

In [47]:
>>> #concatenation of lists
...
>>> list1=[1,2,3,4]
>>> list2=['one','two','three','four']
>>> list1+list2

[1, 2, 3, 4, 'one', 'two', 'three', 'four']

In [48]:
>>> #concatenation of tuples
...
>>> tup1=(1,2,3,4)
>>> tup2=('one','two','three','four')
>>> tup1+tup2

(1, 2, 3, 4, 'one', 'two', 'three', 'four')

### Example 1.27

In [49]:
>>> #repetition operator with string
...
>>> str1='Hello.'
>>> str1*3

'Hello.Hello.Hello.'

In [50]:
>>> #repetition operator with list
...
>>> list1=[1,2,3,4]
>>> list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [51]:
>>> #repetition operator with tuple
... tup1=(1,2,3,4)
>>> tup1*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### Example 1.28

In [52]:
>>> #indexing of string
...
>>> str1='Monty Python and the Holy Grail'
>>> str1[21]

'H'

In [53]:
>>> #indexing of list
...
>>> list1=[1,2,3,4,5,6,7,8,9,10]
>>> list1[6]

7

In [54]:
>>> list1=['Python', 'Java', 'C++', 'Ruby', 'Kotlin']
>>> list1[3]
'Ruby'

'Ruby'

In [55]:
>>> #indexing of tuple
...
>>> tup1=(-50, 3.142, 2+3j, True, 50)
>>> tup1[2]

(2+3j)

### Example 1.29

In [56]:
>>> #slicing of string
... str1='Monty Python and the Holy Grail'
>>> str1[13:16]

'and'

In [57]:
>>> list1=['Python', 'Java', 'C++', 'Ruby', 'Kotlin']
>>> list1[1:3]

['Java', 'C++']

In [58]:
>>> tup1=(-50, 3.142, 2+3j, True, 50)
>>> tup1[2:4]

((2+3j), True)

### Example 1.30

In [59]:
>>> #membership operator with string
...
>>> str1='Monty Python and the Holy Grail'
>>> 'Holy' in str1

True

In [60]:
>>> 'Grill' not in str1

True

In [61]:
>>> #membership operator with list
...
>>> list1=['Python', 'Java', 'C++', 'Ruby', 'Kotlin']
>>> 'C#' in list1

False

In [62]:
>>> 'Ruby' not in list1

False

In [63]:
>>> #membership operator with tuple
...
>>> tup1=(-50, 3.142, 2+3j, True, 50)
>>> 3.142 in tup1

True

In [64]:
>>> 3.142 not in tup1

False

### Example 1.31

In [65]:
>>> x=100
>>> id(x)

94745736374048

### Example 1.32

In [66]:
>>> y=x
>>> id(y)

94745736374048

### Example 1.33

In [67]:
>>> x=x+1
>>> x

101

In [68]:
>>> id(x), id(y)

(94745736374080, 94745736374048)

### Example 1.34

In [69]:
>>> str1='Hello World'
>>> str1[6]

'W'

In [70]:
>>> str1[6]='z'

TypeError: 'str' object does not support item assignment

In [71]:
>>> tup1=(-50, 3.142, 2+3j, True, 50)
>>> tup1[1]

3.142

In [72]:
>>> tup1[1]=2.303

TypeError: 'tuple' object does not support item assignment

### Example 1.35

In [ ]:
>>> list1=['Python', 'Java', 'C++', 'Ruby', 'Kotlin']
>>> list1[2]='C#'
>>> list1

In [ ]:
>>> dict1={'Mumbai':'Maharashtra', 'Hyderabad':'Telangana', 'Patna':'Bihar'}
>>> dict1['Hyderabad']='Andhra Pradesh'
>>> dict1

### Example 1.36

In [ ]:
>>> #float to integer
... int(10.55)

In [ ]:
>>> #int from string
... int('12')

### Example 1.37

In [73]:
>>> int('12',8)

10

In [74]:
>>> int('12',16)

18

In [75]:
>>> int('C',16)

12

### Example 1.38

In [76]:
>>> #float from string with decimal notation
... float('3.142')

3.142

In [77]:
>>> #float from scientific notation
... float('1.501E2')

150.1

### Example 1.39

In [78]:
>>> #complex from integer parameters
... complex(5,6)

(5+6j)

In [79]:
>>> #complex from float parameters
... complex(2.2,-3.5)

(2.2-3.5j)

In [80]:
>>> #complex from complex number parameters
... complex(2+3j,1+2j)

4j

### Example 1.40
2+3j+(1+2j)*1.0j = 4j

### Example 1.41

In [81]:
>>> #complex from string
>>> complex('1+2j')

(1+2j)

In [82]:
>>> #space not allowed
>>> complex('1 + 2j')

ValueError: complex() arg is a malformed string

### Example 1.42

In [ ]:
>>> c1=complex('1+2j')
>>> #real part
>>> c1.real

In [ ]:
>>> #imaginary part
>>> c1.imag

### Example 1.43

In [ ]:
>>> #boolean value of integer
>>> bool(20)

In [ ]:
>>> bool(-11)

In [ ]:
>>> bool(0)

In [ ]:
>>> bool(10-5*2)

In [ ]:
>>> bool(10%2)

### Example 1.44

In [ ]:
>>> #boolean value of sequence
>>> bool([1,2,3])

In [ ]:
>>> bool([])

In [ ]:
>>> bool('') #empty string

In [ ]:
>>> bool('Hello')

In [ ]:
>>> bool((1,2,3)) #tuple

In [ ]:
>>> bool(())

In [ ]:
>>> bool({1:'one',2:'two'}) #dictionary

In [ ]:
>>> bool({})

### Example 1.45

In [ ]:
>>> #boolean value of logical expression
>>> bool(10>5)

In [ ]:
>>> bool(3 in [1,2,3,4])

### Example 1.46

In [ ]:
>>> #absolute of integer
>>> abs(-256)

In [ ]:
>>> #absolute of float
>>> abs(1.2E-3)

In [ ]:
>>> #absolute of complex
>>> abs(2-3j)

### Example 1.47

In [ ]:
>>> a=divmod(10,3)
>>> a

### Example 1.48

In [ ]:
>>> pow(10,2)

In [ ]:
>>> pow(27,1/3)

### Example 1.49

In [ ]:
>>> round(123.453467,4)

In [ ]:
>>> round(123.453467,2)

In [ ]:
>>> round(123.453467,1)

### Example 1.50

In [ ]:
>>> round(123.453467,0)

In [ ]:
>>> round(10/6,0)

### Example 1.51

In [ ]:
>>> round(123.453467,-1)

In [ ]:
>>> round(123.453467,-2)

### Example 1.52

In [83]:
>>> #max/min of numeric items
...
>>> tup1=(-50, 3.142,True, 50, pow(8,2),1.001e-2)

In [84]:

>>> max(tup1)

64

In [85]:
>>> min(tup1)

-50

In [86]:
>>> #max/min of string items
...
>>> list1=['Python', 'Java', 'C++', 'Ruby', 'Kotlin']
>>> max(list1)

'Ruby'

In [87]:
>>> min(list1)

'C++'

In [88]:
>>> #max/min in a string
...
>>> str1='Monty Python and the Holy Grail'
>>> max(str1)

'y'

In [89]:
>>> min(str1)

' '

### Example 1.53

In [90]:
>>> str1='Monty Python and the Holy Grail'
>>> len(str1)

31

In [91]:
>>> list1=['Python', 'Java', 'C++', 'Ruby', 'Kotlin']

In [92]:

>>> len(list1)

5

In [93]:
>>> tup1=(-50, 3.142,True, 50, pow(8,2),1.001e-2)
>>> len(tup1)

6

In [94]:
>>> dict1={'Mumbai':'Maharashtra', 'Hyderabad':'Telangana', 'Patna':'Bihar'}
>>> len(dict1)

3

### Example 1.54

In [95]:
>>> list()

[]

In [96]:
>>> list('Hello Python')

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [97]:
>>> tup1=(-50, 3.142,True, 50, pow(8,2),1.001e-2)
>>> list(tup1)

[-50, 3.142, True, 50, 64, 0.01001]

### Example 1.55

In [98]:
>>> tuple()

()

In [99]:
>>> tuple('Hello Python')

('H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n')

In [100]:
>>> list1=(-50, 3.142,True, 50, pow(8,2),1.001e-2)
>>> tuple(list1)

(-50, 3.142, True, 50, 64, 0.01001)

### Example 1.56

In [101]:
>>> str()

''

In [102]:
>>> str(1101)

'1101'

In [103]:
>>> str(3.142)

'3.142'

In [104]:
>>> str([1,2,3])

'[1, 2, 3]'

In [105]:
>>> str((1,2,3))

'(1, 2, 3)'

In [106]:
>>> str({1:'one',2:'two',3:'three'})

"{1: 'one', 2: 'two', 3: 'three'}"

### Example 1.57

In [107]:
>>> name=input('enter your name :')

enter your name :Ravi

### Example 1.58

In [108]:
>>> name=input('enter your name_')
>>> name

enter your name_Ravi

'Ravi'

### Example 1.59

In [109]:
>>> 2+2

4

In [110]:
>>> print (2+2)

4

### Example 1.60

In [111]:
>>> name='Ram'
>>> age=20
>>> marks=50
>>> print (name, age, marks)
>>> print (name, age, marks, sep=',')

Ram 20 50
Ram,20,50

### Example 1.61
Save following script as hello.py and run from command prompt

<b>python hello.py</b>

In [112]:
#hello.py
name=input('enter your name:')
print ('Hello', name, 'how are you?')

enter your name:Ramkrishna
Hello Ramkrishna how are you?

### Example 1.62
Save following script as area.py and run from command prompt

<b>python area.py</b>

In [113]:
#area.py
length=int(input('enter length:'))
breadth=int(input('enter breadth:'))
area=length*breadth
print ('area=',area)

enter length:20
enter breadth:30
area= 600

### Example 1.63

In [114]:
#area.py
length=int(input('enter length:'))
breadth=int(input('enter breadth:'))
area=length*breadth
print ('length:',length, 'breadth:', breadth, end=' ')
print ('area=',area)

enter length:20
enter breadth:30
length: 20 breadth: 30 area= 600

### Example 1.64

In [115]:
>>> str1='python string'
>>> str2=str1.capitalize()
>>> str2

'Python string'

### Example 1.65

In [116]:
>>> str1='Python String'
>>> str2=str1.lower()
>>> str2

'python string'

### Example 1.66

In [117]:
>>> str1='Python String'
>>> str2=str1.upper()
>>> str2

'PYTHON STRING'

### Example 1.67

In [118]:
>>> str1='Python String'
>>> str2=str1.title()
>>> str2

'Python String'

### Example 1.68

In [119]:
>>> str1='Simple is Better than Complex.'
>>> str2=str1.swapcase()
>>> str2

'sIMPLE IS bETTER THAN cOMPLEX.'

### Example 1.69

In [120]:
>>> str1='Simple is Better than Complex.'
>>> str1.find('pl')

3

In [121]:
>>> str1.find('bet')

-1

### Example 1.70

In [122]:
>>> str1='Simple is Better than Complex.'
>>> str1.index('pl')

3

In [123]:
>>> str1.index('bet')

ValueError: substring not found

### Example 1.71

In [124]:
>>> str1='all animals are equal. Some are more equal'
>>> str1.replace('are', 'were')

'all animals were equal. Some were more equal'

### Example 1.72

In [125]:
>>> str1='Simple is Better than Complex.'
>>> str1.count('pl')

2

### Example 1.73

In [126]:
>>> str1='BpbOnline'
>>> str1.isalpha()

True

In [127]:
>>> str2='BPB Publications'
>>> str2.isalpha()

False

### Example 1.74

In [128]:
>>> str1='8860322236'
>>> str1.isdigit()

True

In [129]:
>>> str1='(+91)8860322236'
>>> str1.isdigit()

False

### Example 1.75

In [130]:
>>> str1='pythonrocks'
>>> str1.islower()

True

### Example 1.76

In [131]:
>>> str1='IIT JEE'
>>> str1.isupper()

True

### Example 1.77

In [132]:
>>> name='Mr. John'
>>> name.startswith('Mr')

True

In [133]:
>>> name='Dr. Watson'
>>> name.startswith(('Mr', 'Dr'))

True

### Example 1.78

In [134]:
>>> name='Mr. John'
>>> name.endswith('on')

False

In [135]:
>>> name='Dr. Watson'
>>> name.endswith(('on', 'hn'))

True

### Example 1.79

In [136]:
>>> list1=['Python','C++','Ruby','Kotlin']
>>> sep=' and '
>>> sep.join(list1)

'Python and C++ and Ruby and Kotlin'

In [137]:
>>> list1=['192','168','0','1']
>>> sep='.'
>>> sep.join(list1)

'192.168.0.1'

### Example 1.80

In [138]:
>>> str1='all animals are equal. Some are more equal'
>>> str1.split(' ')

['all', 'animals', 'are', 'equal.', 'Some', 'are', 'more', 'equal']

In [139]:
>>> str1='192.168.0.1'
>>> str1.split('.')

['192', '168', '0', '1']

### Example 1.81

In [140]:
>>> str1='    Hello Python    '
>>> str1.strip()

'Hello Python'

In [141]:
>>> str1='all animals are equal'
>>> str1.strip('alu')

' animals are eq'

### Example 1.82

In [142]:
>>> name='Virat Kohli'
>>> runs=10385
>>> print ('{} is Captain of India. He has scored {} runs in ODI.'.format(name,runs))

Virat Kohli is Captain of India. He has scored 10385 runs in ODI.

### Example 1.83

In [143]:
>>> name='Virat Kohli'
>>> runs=10385
>>> print ('{nm} is Captain of India. He has scored {r} runs in ODI.'.format(r=runs,nm=name))

Virat Kohli is Captain of India. He has scored 10385 runs in ODI.

### Example 1.84

In [144]:
>>> name='Virat Kohli'
>>> runs=10385
>>> print ("%s is Captain of India. He has scored %d runs in ODI."% (name,runs))

Virat Kohli is Captain of India. He has scored 10385 runs in ODI.

### Example 1.85

In [145]:
>>> list1=['Python','C++','Ruby','Kotlin']
>>> list1.append('JS')
>>> list1

['Python', 'C++', 'Ruby', 'Kotlin', 'JS']

### Example 1.86

In [146]:
>>> list1=['Python','C++','Ruby','Kotlin']
>>> list1.insert(2,'Java')
>>> list1

['Python', 'C++', 'Java', 'Ruby', 'Kotlin']

### Example 1.87

In [147]:
>>> list1=[3,5,9,3,6]
>>> list1.count(3)

2

In [148]:
>>> str1='all animals are equal. Some are more equal'
>>> list1=str1.split(' ')
>>> list1

['all', 'animals', 'are', 'equal.', 'Some', 'are', 'more', 'equal']

In [149]:
['all', 'animals', 'are', 'equal.', 'Some', 'are', 'more', 'equal']
>>> list1.count('are')

2

### Example 1.88

In [150]:
>>> list1=['all', 'animals', 'are', 'equal.', 'Some', 'are', 'more', 'equal']
>>> list1.index('are')

2

In [151]:
>>> list1.index('were')

ValueError: 'were' is not in list

### Example 1.89

In [152]:
>>> list1=['Python', 'C++', 'Ruby', 'Kotlin', 'JS']
>>> list1.reverse()
>>> list1

['JS', 'Kotlin', 'Ruby', 'C++', 'Python']

### Example 1.90

In [153]:
>>> list1=['Python', 'C++', 'Ruby', 'Kotlin', 'JS']
>>> list1.sort()
>>> list1

['C++', 'JS', 'Kotlin', 'Python', 'Ruby']

In [154]:
>>> list2=['all', 'animals', 'are', 'equal.', 'Some', 'are', 'more', 'equal']
>>> list2.sort(reverse=True)
>>> list2

['more', 'equal.', 'equal', 'are', 'are', 'animals', 'all', 'Some']

### Example 1.91

In [155]:
>>> list1=['all', 'animals', 'are', 'equal.', 'Some', 'are', 'more', 'equal']
>>> list1.remove('are')
>>> list1

['all', 'animals', 'equal.', 'Some', 'are', 'more', 'equal']

In [156]:
>>> list1=['all', 'animals', 'are', 'equal.', 'Some', 'are', 'more', 'equal']
>>> list1.remove('were')

ValueError: list.remove(x): x not in list

### Example 1.92

In [ ]:
>>> list1=['Python', 'C++', 'Ruby', 'Kotlin', 'JS']
>>> lang=list1.pop()
>>> lang

In [ ]:
>>> list2=[31,55,90,35,60]
>>> num=list2.pop(2)
>>> num

### Example 1.93

In [ ]:
>>> list1=['Python', 'C++', 'Ruby', 'Kotlin', 'JS']
>>> list1.clear()
>>> list1

### Example 1.94

In [ ]:
>>> dict1={'Mumbai':'Maharashtra', 'Hyderabad':'Telangana', 'Patna':'Bihar'}
>>> dict1.get('Patna')

### Example 1.95

In [ ]:
>>> dict1={'Mumbai':'Maharashtra', 'Hyderabad':'Telangana', 'Patna':'Bihar'}
>>> state=dict1.pop('Mumbai')
>>> state

### Example 1.96

In [ ]:
>>> dict1={'Mumbai':'Maharashtra', 'Hyderabad':'Telangana', 'Patna':'Bihar'}
>>> t=dict1.popitem()
>>> t

### Example 1.97

In [ ]:
>>> dict1={'Maharashtra':'Bombay','Andhra Pradesh': 'Hyderabad', 'UP':'Lucknow'}
>>> dict1.update({'MP':'Bhopal'})
>>> dict1

### Example 1.98

In [ ]:
>>> dict1={'Maharashtra': 'Bombay', 'Andhra Pradesh': 'Hyderabad', 'UP': 'Lucknow', 'MP': 'Bhopal'}
>>> dict2={'Andhra Pradesh':'Amaravati','Telangana':'Hyderabad', 'Maharashtra':'Mumbai'}
>>> dict1.update(dict2)
>>> dict1

### Example 1.99

In [ ]:
>>> dict1={'Maharashtra': 'Bombay', 'Andhra Pradesh': ' Hyderabad', 'UP': 'Lucknow', 'MP': 'Bhopal'}
>>> dict1['Maharashtra']='Mumbai'
>>> dict1

### Example 1.100

In [ ]:
>>> dict1={'Maharashtra': 'Mumbai', 'Andhra Pradesh': 'Amaravati', 'UP': 'Lucknow', 'MP': 'Bhopal', 'Telangana': 'Hyderabad'}
>>> items=dict1.items()

In [ ]:
items

In [ ]:
>>> list(items)

### Example 1.101

In [ ]:
>>> dict1={'Maharashtra': 'Mumbai', 'Andhra Pradesh': 'Amaravati', 'UP': 'Lucknow', 'MP': 'Bhopal', 'Telangana': 'Hyderabad'}
>>> keys=dict1.keys()
>>> keys

In [ ]:
>>> list(keys)

### Example 1.102

In [ ]:
>>> dict1={'Maharashtra': 'Mumbai', 'Andhra Pradesh': 'Amaravati', 'UP': 'Lucknow', 'MP': 'Bhopal', 'Telangana': 'Hyderabad'}
>>> values=dict1.values()
>>> values

In [157]:
>>> list(values)

NameError: name 'values' is not defined

### Example 1.103

In [158]:
>>> dict1={'Maharashtra':'Bombay','Andhra Pradesh': 'Hyderabad', 'UP':'Lucknow'}
>>> items=dict1.items()
>>> keys=dict1.keys
>>> values=dict1.values
>>> items

dict_items([('Maharashtra', 'Bombay'), ('Andhra Pradesh', 'Hyderabad'), ('UP', 'Lucknow')])

In [159]:
>>> dict2={'Andhra Pradesh':'Amaravati','Telangana':'Hyderabad', 'Maharashtra':'Mumbai'}
>>> dict1.update(dict2)
>>> items

dict_items([('Maharashtra', 'Mumbai'), ('Andhra Pradesh', 'Amaravati'), ('UP', 'Lucknow'), ('Telangana', 'Hyderabad')])